.ProductDetail {
    margin-top: 40px;
}
.product-layout {
    display: flex;
}

.product-img {
    max-width: 600px;
    min-width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 600px;
    width: 400px;
    object-fit: contain;
    transform: scale(0.9);
}

.product-info {
    display: flex;
    flex-direction: column;
}

.heading{
    margin-top: 50px;
}

.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.add-to-cart {
    margin-top: 30px;
    background-color: black;
    color:white;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-to-cart:hover{
    background-color: rgb(123, 123, 123);
}

.return-policy {
    border-top: 1px dashed #ccc;
    color: var(--secondary-text-color);
    font-size: 0.8rem;
    margin-top: 20px;
    padding-top: 10px;
}

.prod-details{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

ul {
    list-style: circle;  
}

li {
    margin-top: 8px;
}